:root {
  --pink: #C290B6;
  --dark-purple: #101353;
  --text-color: #FFFFFF;
  --mid-purple: #080bda;
  --light-purple: #796de2;
  --darkest-purple: #050c4e;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
background-color: var(--mid-purple);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Target the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

/* Target the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--mid-purple);
}